/*	
	@package embark
	=====================
	===== VARIABLES =====
	=====================
*/
$icon-font: 'embark-icon';
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
$light-gray: #898989;
$lighter-gray: #f1f1f1;
$dark-gray: #333;
$primary-color: #000;
$accent-color: #e1ad28;
